<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- 配置mapper,mybatis通过使用mapper实现dao接口 -->
<mapper namespace="com.xunge.kendo.dao.KendoDao">

    <!-- 查询所有数据 -->
    <select id="findAll" resultType="Kendo">
        SELECT id, name,age FROM kendo
    </select>
    
    <!-- 更改数据 -->
    <update id="updateRow" parameterType="Kendo">
    	UPDATE kendo SET name = #{name}, age = #{age} where id = #{id}
    </update>

	<!-- 删除数据 -->
	<delete id="deleteRow" parameterType="Kendo" >
		DELETE FROM kendo WHERE id = #{id}
	</delete>
	
	<!-- 新增数据 -->
	<insert id="insertRow" parameterType="Kendo">
		INSERT INTO kendo
		(name, age)
		VALUES
		(#{name},#{age})
	</insert>
	
	<!-- 获取下一个自增id的值 -->
	<select id="findLastId" resultType="java.lang.Integer">
		SELECT Auto_increment FROM information_schema.`TABLES` WHERE Table_Schema='emp' AND table_name = 'kendo' limit 1;
    </select>
</mapper>
